In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%config InlineBackend.figure_format = 'retina'
sns.set_theme()

In [2]:
dtypes = {
    'country': 'category',
    'province': 'category',
    'variety': 'category',
    'region_1': 'category',
    'region_2': 'category',

    'quality': 'float'
}
df = pd.read_csv('../datasets/competition_dataset/dev.tsv', sep='\t', dtype=dtypes)

# Drop duplicates using the whole dataset
df = df.drop_duplicates()
# And then identify only the columns we are interested in
df = df[dtypes.keys()]

df.head()

,country,province,variety,region_1,region_2,quality
0,France,Alsace,Pinot Blanc,Crémant d'Alsace,NaN,45.0
1,US,California,Cabernet Sauvignon,Paso Robles,Central Coast,31.0
2,US,Oregon,Gewürztraminer,Willamette Valley,Willamette Valley,35.0
3,Portugal,Alentejano,Touriga Nacional,NaN,NaN,41.0
4,Italy,Southern Italy,Coda di Volpe,Pompeiano,NaN,37.0

In [3]:
len(df)

85028

---

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(['quality'], axis=1), df.quality)

In [5]:
import lightgbm as lgb

reg = lgb.sklearn.LGBMRegressor()
reg.fit(X_train, y_train)

from sklearn.metrics import r2_score

reg.score(X_test, y_test)

0.5014387615339513