In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%config InlineBackend.figure_format='retina'
import seaborn as sns
sns.set_theme(style='darkgrid')

In [8]:
pd.read_csv('../datasets/831394006_T_ONTIME.csv', nrows=10_000)

,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
0,2017-01-01,AA,19805,N787AA,1,12478,1247803,31703,JFK,"New York, NY",...,1209.0,27.0,0.0,NaN,27.0,0.0,0.0,0.0,0.0,NaN
1,2017-01-01,AA,19805,N783AA,2,12892,1289204,32575,LAX,"Los Angeles, CA",...,1809.0,42.0,0.0,NaN,34.0,0.0,8.0,0.0,0.0,NaN
2,2017-01-01,AA,19805,N791AA,4,12892,1289204,32575,LAX,"Los Angeles, CA",...,2040.0,42.0,0.0,NaN,7.0,0.0,0.0,0.0,35.0,NaN
3,2017-01-01,AA,19805,N391AA,5,11298,1129804,30194,DFW,"Dallas/Fort Worth, TX",...,1749.0,97.0,0.0,NaN,77.0,0.0,20.0,0.0,0.0,NaN
4,2017-01-01,AA,19805,N346AA,6,13830,1383002,33830,OGG,"Kahului, HI",...,642.0,42.0,0.0,NaN,0.0,0.0,42.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2017-01-01,NK,20416,N620NK,781,11433,1143302,31295,DTW,"Detroit, MI",...,1005.0,-12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2017-01-01,NK,20416,N644NK,782,10821,1082104,30852,BWI,"Baltimore, MD",...,1958.0,-17.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2017-01-01,NK,20416,N644NK,782,13204,1320402,31454,MCO,"Orlando, FL",...,1733.0,-13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2017-01-01,NK,20416,N522NK,785,13198,1319801,33198,MCI,"Kansas City, MO",...,2034.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2017-01-01,NK,20416,N640NK,787,12889,1288903,32211,LAS,"Las Vegas, NV",...,1944.0,-16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pd.read_csv('../datasets/831394006_T_ONTIME.csv', nrows=10_000).dtypes

FL_DATE                   object
UNIQUE_CARRIER            object
AIRLINE_ID                 int64
TAIL_NUM                  object
FL_NUM                     int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
CRS_DEP_TIME               int64
DEP_TIME                 float64
DEP_DELAY                float64
TAXI_OUT                 float64
WHEELS_OFF               float64
WHEELS_ON                float64
TAXI_IN                  float64
CRS_ARR_TIME               int64
ARR_TIME                 float64
ARR_DELAY                float64
CANCELLED                float64
CANCELLATION_CODE         object
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
Unnamed: 32              float64
dtype: object